.mat-table tr:hover {
  background-color: $hover-table-row-effect;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  thead {
    th {
      font-weight: 700;
      vertical-align: middle;
    }
  }

  tbody {
    td {
      vertical-align: middle;
    }
  }

  &-hover tbody tr:hover {
    background-color: #eff1f1;
  }
}
