<div *ngIf="isInitializing"
     class="text-center">
  <div class="spinner-border text-primary"></div>
</div>

<div *ngIf="!isInitializing"
     class="dapp">
  <div class="token-logo">
    <img src="assets/images/token-company-logo.svg"
         alt="Token Logo" />
  </div>

  <div *ngIf="!isNotDappBrowser && !hasParamsError && !isSent"
       class="dapp-content">
    <div class="dapp-content__information">
      <p i18n>Link your public address to the {{TOKEN_SYMBOL}} Token application.
        Simply click 'Send Link Request' button, and you will
        be prompted to create a
        signature by your wallet app.</p>
      <p i18n>Once linked you can send {{TOKEN_SYMBOL}} tokens
        between your {{TOKEN_SYMBOL}} wallet and this wallet.</p>
    </div>
    <form #dappForm="ngForm"
          class="dapp-form"
          (ngSubmit)="link()"
          novalidate>
      <div class="dapp-form__label">
        <span i18n>YOUR PUBLIC ACCOUNT ADDRESS</span>
      </div>
      <mat-form-field appearance="standard">
        <input type="text"
               matInput
               readonly
               id="publicAddress"
               name="publicAddress"
               [ngModel]="publicAddress">
      </mat-form-field>

      <div class="dapp-form__label">
        <span i18n>LINKING CODE</span>
      </div>
      <mat-form-field appearance="standard">
        <input type="text"
               matInput
               required
               hideRequiredMarker="true"
               id="linkingCode"
               name="linkingCode"
               i18n-placeholder
               placeholder="LINKING CODE"
               #linkingCode="ngModel"
               [(ngModel)]="linkCode">
        <mat-error *ngIf="(linkingCode.touched || linkingCode.dirty)">
          <div *ngIf="linkingCode.errors?.required"
               i18n>Required</div>
        </mat-error>
      </mat-form-field>

      <div class="error mb-1em"
           *ngIf="hasSubmitError">
        <div i18n>Error occured, please contact support.</div>
        <div i18n>Error code: {{errorCode}}</div>
      </div>

      <div class="mb-1em"
           *ngIf="isLinking && !hasSubmitError">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div>
        <button class="btn dapp-form__submit"
                type="submit"
                (click)="link()"
                [disabled]="isLinking || dappForm.invalid"
                i18n>Send Link Request</button>
      </div>
    </form>
  </div>

  <div class="dapp-content"
       [hidden]="!isSent"
       i18n>
    Thank you for posting the link request.
  </div>

  <div *ngIf="isNotDappBrowser"
       class="dapp-content">
    <p i18n>This browser is not supported.</p>
    <p>
      <span i18n>Try using:</span>
    </p>
    <div>
      <a href="https://wallet.coinbase.com/">
        <strong>Coinbase Wallet App</strong>
      </a>
    </div>
    <div>
      <a href="https://trustwallet.com/">
        <strong>Trust Wallet</strong>
      </a>
    </div>
  </div>

  <div *ngIf="hasParamsError && !isNotDappBrowser"
       class="dapp-content">
    <div class="error">
      <span i18n>Invalid link, please contact support.</span>
    </div>
  </div>
</div>
