<div *ngIf="isLoading">
  <div class="text-center">
    <div class="spinner-border text-primary"></div>
  </div>
</div>

<div class="success"
     *ngIf="isSuccess">
  <div i18n>Thank you for accepting the invite.</div>
  <div i18n>One of our Salesteam member will reach out to you shortly.</div>
</div>

<span class="error"
      *ngIf="isError">
  <ng-container [ngSwitch]="errorCode">
    <ng-container *ngSwitchCase="'ReferralNotFound'">
      <span i18n>Referral is not found.</span>
    </ng-container>
    <ng-container *ngSwitchCase="'LeadAlreadyConfirmed'">
      <span i18n>You have been already confirmed.</span>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <span i18n>Unknown error, please contact support.</span>
    </ng-container>
  </ng-container>
</span>
