@import '~src/scss/token-theme/utils/variables';

.wrapper {
  background-color: #fff;
  left: 50%;
  min-width: 600px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

  .logo-wrapper {
    display: block;
    text-align: center;

    .logo {
      width: 156px;
      position: absolute;
      top: -108px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .content {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    min-height: 342px;
    padding-top: 158px;
    text-align: center;

    .loading,
    .success {
      color: $dark-blue;
      font-size: 20px;
      font-weight: 300;
    }

    .error {
      color: $red;
      font-size: 20px;
      font-weight: 300;
    }
  }
}
