<div *ngIf="isCheckingResetIdentifier"
     i18n>
  <div class="text-center">
    <div class="spinner-border text-primary"></div>
  </div>
</div>

<div class="error"
     *ngIf="hasParamsError">
  <span i18n>Invalid link, please contact support.</span>
</div>

<div class="error"
     *ngIf="hasResetIdentifierError">
  <ng-container [ngSwitch]="resetIdentifierErrorCode">
    <ng-container *ngSwitchCase="'IdentifierDoesNotExist'">
      <span i18n>The provided reset password identifier does not exist.</span>
    </ng-container>
    <ng-container *ngSwitchCase="'ProvidedIdentifierHasExpired'">
      <span i18n>The provided reset password identifier has expired and it is not valid anymore.</span>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <span i18n>Unknown error, please contact support.</span>
    </ng-container>
  </ng-container>
</div>

<div class="success"
     *ngIf="isSuccess">
  <span i18n>Your password has been successfully reset.</span>
</div>

<form [formGroup]="rpForm"
      class="form reset-password-form"
      *ngIf="!hasParamsError && !isCheckingResetIdentifier && !hasResetIdentifierError && !isSuccess"
      (ngSubmit)="onSubmit()"
      novalidate>
  <div class="form__field">
    <div class="form__field-label text-uppercase">
      <span i18n>Password</span>
      <span>*</span>
    </div>
    <mat-form-field class="width-100"
                    appearance="standard">
      <input type="{{isVisiblePassword ? 'text' : 'password'}}"
             matInput
             autofocus
             required
             id="password"
             formControlName="Password"
             i18n-placeholder
             placeholder="New password">
      <a matSuffix
         class="form__field-suffix"
         href="javascript:void(0)"
         (click)="onToggleVisibilityPassword()">
        <span *ngIf="isVisiblePassword"
              i18n>Hide</span>
        <span *ngIf="!isVisiblePassword"
              i18n>Show</span>
      </a>
      <mat-error>
        <app-error-message controlName="Password"></app-error-message>
        <app-error-message controlName="Password"
                           key="invalidPasswordFormat"
                           [template]="invalidPasswordError"></app-error-message>
        <ng-template #invalidPasswordError>
          <div i18n>Invalid password format</div>
        </ng-template>
        <app-error-message controlName="Password"
                           key="length"
                           [template]="lengthError"
                           [templateContext]="{$implicit: {min: rules.MinLength, max: rules.MaxLength}}">
        </app-error-message>
        <ng-template #lengthError
                     let-ctx>
          <div i18n>Length should be between {{ctx.min}} and {{ctx.max}} characters</div>
        </ng-template>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form__field">
    <div class="form__field-label text-uppercase">
      <span i18n>Re-type Password</span>
      <span>*</span>
    </div>
    <mat-form-field class="width-100"
                    appearance="standard">
      <input type="{{isVisibleReenterPassword ? 'text' : 'password'}}"
             matInput
             required
             id="reenterPassword"
             formControlName="ReenterPassword"
             i18n-placeholder
             placeholder="Confirm new password">
      <a matSuffix
         class="form__field-suffix"
         href="javascript:void(0)"
         (click)="onToggleVisibilityReenterPassword()">
        <span *ngIf="isVisibleReenterPassword"
              i18n>Hide</span>
        <span *ngIf="!isVisibleReenterPassword"
              i18n>Show</span>
      </a>
      <mat-error>
        <app-error-message controlName="ReenterPassword"></app-error-message>
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="!rpForm.get('ReenterPassword').errors && !!rpForm.errors?.passwordNotEqualled"
       class="validation-error"
       i18n>The passwords should be equal</div>

  <div class="password-validation-rules"
       *ngIf="rules && (rpForm.pristine || rpForm.get('Password').errors)">
    <ul>
      <li i18n>Password length should be between {{rules.MinLength}} and {{rules.MaxLength}} characters</li>
      <li i18n>Password should contain {{rules.MinLowerCase}} lowercase character(s), {{rules.MinUpperCase}}
        uppercase character(s), {{rules.MinNumbers}} digit(s) and {{rules.MinSpecialSymbols}} special symbol(s)
      </li>
      <li i18n>Allowed special symbols are: {{rules.AllowedSpecialSymbols}}</li>
      <li>
        <span *ngIf="rules.AllowWhiteSpaces"
              i18n>Whitespaces are allowed</span>
        <span *ngIf="!rules.AllowWhiteSpaces"
              i18n>Whitespaces are not allowed</span>
      </li>
    </ul>
  </div>

  <mat-progress-bar mode="indeterminate"
                    *ngIf="isLoading"></mat-progress-bar>

  <div class="validation-error"
       *ngIf="hasSubmitError">
    <ng-container [ngSwitch]="errorCode">
      <ng-container *ngSwitchCase="'ThereIsNoIdentifierForThisCustomer'">
        <span i18n>Customer doesn't have valid identifier for resetting password.</span>
      </ng-container>
      <ng-container *ngSwitchCase="'ReachedMaximumRequestForPeriod'">
        <span i18n>Reached maximum amount of calls to reset password.</span>
      </ng-container>
      <ng-container *ngSwitchCase="'NoCustomerWithSuchEmail'">
        <span i18n>Customer with such email does not exist.</span>
      </ng-container>
      <ng-container *ngSwitchCase="'IdentifierMismatch'">
        <span i18n>The provided reset password identifier does not match the customer's one.</span>
      </ng-container>
      <ng-container *ngSwitchCase="'ProvidedIdentifierHasExpired'">
        <span i18n>The provided reset password identifier has expired and it is not valid anymore.</span>
      </ng-container>
      <ng-container *ngSwitchCase="'CustomerDoesNotExist'">
        <span i18n>Customer does not exist.</span>
      </ng-container>
      <ng-container *ngSwitchCase="'InvalidPasswordFormat'">
        <span i18n>Invalid password format.</span>
      </ng-container>
      <ng-container *ngSwitchCase="'CustomerBlocked'">
        <span i18n>The operation is not allowed because the account is blocked.</span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <span i18n>Unknown error, please contact support.</span>
      </ng-container>
    </ng-container>
  </div>

  <div class="form__actions">
    <button type="submit"
            class="btn form__submit"
            [disabled]="isLoading || rpForm.invalid"
            i18n>Reset password</button>
  </div>
</form>
