<div *ngIf="isLoading"
     class="loading">
  <div class="text-center">
    <div class="spinner-border text-primary"></div>
  </div>
  <div class="text-center">
    <span class="loading-text"
          i18n>Verifying. Please wait...</span>
  </div>
</div>

<div class="success"
     *ngIf="isSuccess">
  <p i18n>Congratulations!</p>
  <p i18n>You have successfully been referred to the hotel by <strong>{{ReferrerEmail}}</strong>.</p>
  <p i18n>Download and check the {{TOKEN_SYMBOL}} App to find out more about how to redeem your reward tokens and what benefits
    you can get.</p>
  <p i18n>This offer is not valid through 3rd party hotel booking sites. To make a reservation at the hotel, please
    visit official hotel website.</p>
  <p i18n>You can also check the Terms of Use in the app before you proceed.</p>
  <div class="download-app">
    <a class="download-app__link"
       [href]="androidLink"
       target="_blank"
       rel="noopener noreferrer">
      <img src="assets/images/download-app/android.svg"
           class="download-app__icon download-app__icon-android"
           alt="Android App" />
    </a>
    <a class="download-app__link"
       [href]="iosLink"
       target="_blank"
       rel="noopener noreferrer">
      <img src="assets/images/download-app/ios.svg"
           class="download-app__icon download-app__icon-ios"
           alt="iOS App" />
    </a>
  </div>
</div>

<div class="error"
     *ngIf="isError">
  <ng-container [ngSwitch]="errorCode">
    <ng-container *ngSwitchCase="'ReferralNotFound'">
      <span i18n>Referral is not found by provided confirmation code.</span>
    </ng-container>
    <ng-container *ngSwitchCase="'ReferralExpired'">
      <span i18n>The link has been already expired.</span>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <span i18n>Unknown error, please contact support.</span>
    </ng-container>
  </ng-container>
</div>
