$font-family: Muli, Roboto, Arial, Helvetica, sans-serif;

// COLORS
$emaar-dark-gray-color: #636466;
$light-border-color: rgba(0, 0, 0, 0.12);

$blue: #3d3bee;
$dark-blue: #3f4d60;
$purple: #ebebfd;
$dark-grey: #b2b2b2;
$light-grey: #cfd2d7;
$green: #13b625;
$light-green: #e7f7e9;
$red: #d8191e;
$pink: #fbe8e8;
$orange: #ecc664;
$yellow: #fae343;
$hover-table-row-effect: #f5f5f5;

// Theme colors
$dark-primary-text: rgba(0, 0, 0, 0.87);
$light-primary-color: #ffffff;
